@import url(./theme.css);

main {
  /* display: block; */
  margin-block: calc(100vh/6);
  padding: var(--space-md);
  padding-bottom: var(--space-sm);
  border-radius: 15px;

  box-shadow: black var(--space-xxs) var(--space-xxs);
}

#img {
  width: 30ch;
  aspect-ratio: 2/1;
  border-radius: 15px;
  background-image: url(./assets/images/illustration-article.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: var(--space-xs);
}

#tag {
  /* display: block; */
  /* margin-top: var(--space-xxs); */
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  margin-bottom: 0;
}

#date {
  margin-block: 1rem;
  margin-bottom: 1.5rem;
}

#title {
  font-size: 1.5rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  &:hover {
    color: var(--primary);
    cursor: pointer;
  }
}

#subtitle {
  padding-block: var(--space-xxs);
}

#author {
  display: flex;
  align-items: center;

  #avatar {
    width: var(--space-md);
    aspect-ratio: 1/1;
    border-radius: 15px;
    background-image: url(./assets/images/image-avatar.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: var(--space-xxs);
  }
}
